/*Start Page Style */

#startPageContainer {
  margin-left: 40%;

  width: 40%;
  height: 25%;
  margin-left: 30% !important;
}

#addSiteControl,
#updateSiteControl {
  color: #fff;
  background-color: #7ec8e3ff;
}

#startPageInnerContainer {
  border-color: #000 !important;
  border: azure;
  border-style: solid;
  background-color: white;
  border-radius: 10px 15px 15px 10px;

  align-items: center;
  align-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.startPageFullLogo {
  margin-bottom: -16%;
  width: 100%;
  margin-left: 15%;
}

#startPageContainer .column {
  padding-top: 8%;
  padding-bottom: 10%;
}

.column .button {
  background-color: #7ec8e3ff;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.startPageBody,
.remindeMeBody {
  background-color: #fff;
  display: flex;
  height: auto;
}

.circle {
  margin-right: 10px !important;
  margin-left: auto !important;
  margin-top: 5px !important;
}

.circle:hover {
  background-color: white;
  color: blue;
}
/*Start Page Style End */

.appName {
  height: 15% !important;
}
.item1.page1 {
  /* height: 28%; */
  font-size: larger;
  align-items: center;
  align-content: center;
  /* display: flex !important; */
  justify-content: center !important;
  align-items: center !important;
  /* border-color: #002e94; */
  color: #7ec8e3ff !important;
}

.ui.dropdown .menu .item {
  color: black;
}

.SideBarTitle {
  bottom: 50px;
}
/* nav bar */

/* dashboard area */
.dashboardContainer {
  margin: 20px 0px 10px 115px;
  display: flex;
  gap: 15px;
}

.remindeMeBodyctrl,
#remaindMeDetails {
  height: 20%;
  margin-top: 100px !important;
  width: 80% !important;
  margin-left: 10% !important;
}

.dashboardBody,
.controlMeUserInput {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  /* margin-left: 17%; */
  /* margin-right: 2%; */
  margin-top: 69px !important;
  width: 100%;
  /* border: solid #002e94;
  border-width: 1px; */
}
.timeSpendChartInfo {
  font-size: 24px;
  text-align: center;
}
#histroyDetails,
.timeSpendChart {
  display: block;
  /* overflow: scroll; */
  width: 60%;
  height: 500px;
}

.weekChart,
.hoursChart,
.daysChart {
  display: block;
  /* width: 600px;
    height: 500px; */
  /* margin: 40px 200px; */
  width: 48% !important;
  height: 200px !important;
}

#navContainer {
  height: 70px !important;
  border-bottom: groove black 2px;
}

#navContainer .item {
  height: 100%;
  width: 15%;
}

#navContainer .title {
  width: 20% !important;
}

#navContainer .selected {
  background-color: #7ec8e3ff !important;
  color: white !important;
}

#controlsDetails {
  /* margin-left: 17%; */
  /* margin-right: 2%; */
  margin-top: 5px !important;
  width: 100%;
  border: solid #002e94;
  border-width: 1px;
}

#historyTableHeaders #row {
  color: blue !important;
}

.helperCharts,
.helperCharts2 {
  display: flex;
  flex-direction: row;
}

.helperChartsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

#siteHistroyDetails {
  /* margin-left: 17%; */
  /* margin-right: 2%;
  margin-top: 5px !important;
  width: 40%;
  border: solid #002e94;
  border-width: 1px; */
}

.controlMePageBody {
  background-color: #fff;
  display: flex;
  height: 100%;
}

.controlMeUserInput {
  height: 20%;
  margin-top: 10px !important;
  width: 80% !important;
  margin-left: 10% !important;
}
.addRemainder {
  color: darkseagreen;
}

.controlMeErrors {
  color: red;
  position: absolute;
  text-align: center;
  width: 80%;
}

.controlMeInfo {
  margin-top: 100px !important;
  margin-left: 40px !important;
  position: absolute;
  background-color: #fff !important;
}

.addRemainderbtn {
  margin: 0px 0% !important;
  color: #fff !important;
  background-color: #7ec8e3ff !important;
}

.lanchURL {
  margin-top: 18px;
  font-size: 15px;
}

.addNewRemainderForOneTime {
  margin: 15px 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.addNewRecurringRemainder {
  margin: 15px 5%;
  height: 3em;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 13px;
}

#controlMePageContainer {
  margin-left: 20% !important;
}

.input {
  display: flex;
  gap: 20px;
}

.siteColor {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}
.homePageChartInfos {
  display: flex;
  flex-direction: row;
}

.doughnetChartInfo {
  margin-left: 17%;
  font-size: 17px;
}

.MainTableInfo {
  margin-left: 35%;
  font-size: 17px;
}
.tabularDetails {
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));

  padding: 15px;
  height: 600px;
  width: 40% !important;
  padding-right: 56%;
  /* /* margin-left: 50%; */

  /* width: 40%; */
}

.highlighedSite {
  height: 40px !important;
  border: black;
  border: 1px;
  border-style: groove;
  border-color: #7ec8e3ff;
}

.siteRepresentation {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
}

.chartArea {
  /* display: block;
  /* width: 600px;
    height: 500px; */
  /* margin: 40px 200px;
  width: 70% !important; */
  margin-right: -15% !important;
  margin-left: -9% !important;

  width: 70% !important;

  height: 500px;
  /* text-align: right;
  color: white; */
}

.siteDetailsName {
  margin-left: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  width: 140px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  /* text-align: center; */
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
.siteMiniContainer {
  width: 250px;
  height: 25px;
  color: black;
  padding: 10px;
  flex: 0 0 auto;
  cursor: pointer;
}

#controlsDetails {
  margin-top: 7%;

  width: 80% !important;
  margin-left: 10% !important;
}

#resetChart {
  color: black !important;
  background-color: #ededed !important;
}

.chartFilterBtn:hover {
  border-color: #7ec8e3ff !important;
  color: #7ec8e3ff !important;
}
.remainderCategory {
  margin: 2% 0% 0px 35%;
}

.remainderCategory input {
  margin-left: 20px;
}

.operationInfo {
  width: 40%;
  margin: 10px 20%;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 25%);
  height: 10%;
  text-align: center;
  display: none;
  position: absolute;
}

#chartInfo {
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}
