/*Start Page Style */

#startPageContainer {
  margin: 15% 40%;
  border-color: #002e94 !important;
  border: azure;
  border-style: solid;
  background-color: white;
  border-radius: 10px 15px 15px 10px;

  width: 40%;
  height: 25%;
  margin-left: 35% !important;
  align-items: center;
  align-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#startPageContainer .column {
  padding-top: 8%;
  padding-bottom: 10%;
}

.column .button {
  background-color: #2192ff;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.startPageBody,
.remindeMeBody {
  background-color: #fff;
  display: flex;
  height: auto;
}

.circle {
  margin-right: 10px !important;
  margin-left: auto !important;
  margin-top: 5px !important;
}

.circle:hover {
  background-color: white;
  color: blue;
}
/*Start Page Style End */

.appName {
  height: 15% !important;
}
.item {
  height: 28%;
  font-size: larger;
  align-items: center;
  align-content: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-color: #002e94;
  color: #2192ff !important;
}

.ui.dropdown .menu .item {
  color: black;
}

.SideBarTitle {
  bottom: 50px;
}
/* nav bar */

/* dashboard area */
.dashboardContainer {
  margin: 10px 60px;
  display: flex;
  gap: 15px;
}

.siteRepresentation {
  display: flex;
  flex-direction: row;
}

.dashboardBody,
.controlMeUserInput,
.remindeMeBodyctrl {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  /* margin-left: 17%; */
  /* margin-right: 2%; */
  margin-top: 69px !important;
  width: 100%;
  border: solid #002e94;
  border-width: 1px;
}
.weekChart,
.hoursChart,
.daysChart {
  display: block;
  /* width: 600px;
    height: 500px; */
  /* margin: 40px 200px; */
  width: 48% !important;
  height: 200px !important;
}
.chartArea {
  display: block;
  /* width: 600px;
    height: 500px; */
  margin: 40px 200px;
  width: 70% !important;
}

#navContainer {
  height: 70px !important;
}

#navContainer .item {
  height: 100%;
  width: 15%;
}

#navContainer .title {
  width: 20% !important;
}

#navContainer .selected {
  background-color: #2192ff !important;
  color: white !important;
}

#histroyDetails,
#controlsDetails,
#remaindMeDetails {
  /* margin-left: 17%; */
  /* margin-right: 2%; */
  margin-top: 5px !important;
  width: 100%;
  border: solid #002e94;
  border-width: 1px;
}

#historyTableHeaders #row {
  color: blue !important;
}

.helperCharts,
.helperCharts2 {
  display: flex;
  flex-direction: row;
}

.helperChartsContainer {
  display: flex;
  flex-direction: column;
}

#siteHistroyDetails {
  /* margin-left: 17%; */
  margin-right: 2%;
  margin-top: 5px !important;
  width: 40%;
  border: solid #002e94;
  border-width: 1px;
}

.controlMePageBody {
  background-color: #fff;
  display: flex;
  height: 100%;
}

.controlMeUserInput {
  height: 20%;
  margin-top: 100px !important;
  width: 80% !important;
  margin-left: 10% !important;
}
.addRemainder {
  color: darkseagreen;
}

.addRemainderbtn {
  margin: 0px 0% !important;
}

.lanchURL {
  margin-top: 18px;
  font-size: 15px;
}

.addNewRemainderForOneTime {
  margin: 15px 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.addNewRecurringRemainder {
  margin: 15px 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 13px;
}

#controlMePageContainer {
  margin-left: 20% !important;
}

.input {
  display: flex;
  gap: 20px;
}

#controlsDetails {
  margin-top: 7%;

  width: 80% !important;
  margin-left: 10% !important;
}

#resetChart {
  color: black !important;
  background-color: #ededed !important;
}

.chartFilterBtn:hover {
  border-color: #002e94 !important;
  color: #002e94 !important;
}
.remainderCategory {
  margin: 2% 0% 0px 35%;
}

.remainderCategory input {
  margin-left: 20px;
}

.operationInfo {
  width: 40%;
  margin: 10px 20%;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 25%);
  height: 10%;
  text-align: center;
  display: none;
  position: absolute;
}

#chartInfo {
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}
