/*Start Page Style */

#startPageContainer {
  margin: 15% 40%;
  border-color: #002e94 !important;
  border: azure;
  border-style: solid;
  background-color: white;
  border-radius: 10px 15px 15px 10px;

  width: 40%;
  height: 25%;
  margin-left: 35% !important;
  align-items: center;
  align-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#startPageContainer .column {
  padding-top: 8%;
  padding-bottom: 10%;
}

.column .button {
  background-color: #2192ff;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.startPageBody {
  background-color: #ededed;
  display: flex;
  height: 100%;
}

.circle {
  margin-right: 10px !important;
  margin-left: auto !important;
  margin-top: 5px !important;
}

.circle:hover{

  background-color: white;
  color: blue;
}
/*Start Page Style End */

.item {
  height: 25%;
  font-size: larger;
  align-items: center;
  align-content: center;
}

.SideBarTitle {
  bottom: 50px;
}

.dashboardContainer {
  margin: 20px 60px;
  display: flex;
  gap: 15px;
}

.chartArea {
  display: block;
  /* width: 600px;
    height: 500px; */
  margin: 40px 200px;
}

#histroyDetails {
  margin: 5px 200px !important;
}

#siteHistroyDetails {
  margin: 5px 200px !important;
}

.addRemainder {
  color: darkseagreen;
}

.addRemainderbtn {
  margin: 0px 40% !important;
}

.addNewRemainderForOneTime {
  margin: 10px 20%;
  width: 100%;
}

.addNewRecurringRemainder {
  margin: 10px 20%;
  width: 100%;
}

#controlMePageContainer {
  margin-left: 20% !important;
}

.input {
  display: flex;
  gap: 20px;
}

#controlsDetails {
  margin-top: 5%;
}

#remaindMeDetails {
  margin-left: 50px;
}

#resetChart {
  color: black !important;
}

.remainderCategory {
  margin: 2% 0% 0px 35%;
}

.remainderCategory input {
  margin-left: 20px;
}

.operationInfo {
  width: 40%;
  margin: 10px 20%;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 25%);
  height: 10%;
  text-align: center;
  display: none;
  position: absolute;
}

#chartInfo {
  margin-left: 10%;
}
